<h1>Editing relay point</h1>

<%= render "form", relay_point: @relay_point %>

<br>

<div>
  <%= link_to "Show this relay point", @relay_point %> |
  <%= link_to "Back to relay points", relay_points_path %>
</div>
