<h1>Editing dispatcher</h1>

<%= render "form", dispatcher: @dispatcher %>

<br>

<div>
  <%= link_to "Show this dispatcher", @dispatcher %> |
  <%= link_to "Back to dispatchers", dispatchers_path %>
</div>
